.dashboard-container {
    display: grid;
    grid-template-columns: auto 3fr;
    width: 100%;
    height: 100dvh;
}

.dashboard-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.dashboard-content h1 {
    position: absolute;
    margin: 0;
    top: 70px;
    left: 60px;
}

.dashboard-btn-form-wrapper {
   min-height: 263px;
   margin-top: 30px;;
}

.dashboard-block-count-wrapper,
.dashboard-btn-form-wrapper {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 129px;
}

.block-count,
.btn-form {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.101);
  background-color: #03336f;
  box-shadow: 0px 0px 32.3px 0px rgba(0, 0, 0, 0);
  font-family: var(--font-family--text);
  font-size: var(--font-size--button);
  color: var(--color--white);
}

.btn-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    cursor: pointer;
    padding: 26px 22px;
}

.btn-form :first-child {
    width: 135px;
}

.btn-form :last-child {
    font-size: var(--font-size--text);
    font-family: var(--font-family--text);
}

.block-count {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 26px 22px;
}

.block-count p {
    margin: 0;
}

.block-count :last-child {
    font-size: var(--font-size--heading);
    font-family: var(--font-family--heading);
}

