@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Yeseva+One&display=swap');

:root {
  --color--primary-blue: #092147;
  --color--secondary-blue: #03336f;
  --color--tertiary-blue: #005ADE;
  --color--white: #fff;
  --color--black: #000;
  --color--white-gradient: linear-gradient(
    rgba(13deg, 255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.08)
  );

  --font-family--text: "Raleway";
  --font-family--heading: "Yeseva One",;

  --font-size--text: 18px;
  --font-size--heading: 38px;
  --font-size--sub-heading: 20px;
  --font-size--button: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-family--text);
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family--heading);
}